<li class="nav-item">
  <a href="#" class="nav-link {% if 'update-prices' in request.path %}active{% endif %}">
    <i class="nav-icon fas fa-file-upload"></i>
    <p>{{ _("Update Prices") }}</p>
  </a>
</li>
<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon fas fa-clipboard-list"></i>
    <p>{{ _("Products") }}</p>
  </a>
</li>
<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon fas fa-money-check-alt"></i>
    <p>{{ _("Budgets") }}</p>
  </a>
</li>
<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon fas fa-file-upload"></i>
    <p>{{ _("Budgets") }}</p>
  </a>
</li>