<li class="treeview {% if 'documentacion' in request.path %}active{% endif %}">
    <a href="#">
        <i class="fa fa-book text-aqua"></i><span>Documentación</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li {% if 'Glosary' in request.path %}class="active"{% endif %}>
            <a href="{% url 'main:Glosary') }}">
            <i class="fa fa-circle-o text-green"></i> Glosary de terminos</a>
        </li>
    </ul>
</li>
